html,
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%; /* Define a altura do elemento pai como 100% da viewport */
  background-image: url("../images/Image_Work.jpg");
  border-image: fill 0 linear-gradient(#0003, #000);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

header {
  display: flex;
  align-items: center;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 1.875em;
  margin-left: auto;
  /* Move o h1 para a esquerda */
  margin-right: auto;
  /* Move o h1 para a direita */
  color: #ffffff;
}

h2{

  color: #ffffff;
}

/* Estilos para o contêiner do formulário de login */
.login-box {
  width: 70%;
  /* Define a largura como 70% da largura da janela */
  max-width: 400px;
  /* Define a largura máxima */
  padding: 20px;
  /* Adiciona preenchimento interno */
  border: 1px solid #3b3e41;
  /* Adiciona uma borda */
  border-radius: 5px;
  /* Adiciona bordas arredondadas */
  margin: 0 auto;
  text-align: center;
  /* Centraliza o conteúdo */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  background: transparent;
  backdrop-filter: blur(4px);
}

/* Estilos para os botões de envio */
.login-box button {
  background-color: #14448d;
  border: 1px solid transparent;
  /* Adiciona uma borda */
  cursor: pointer;
  /* Define o cursor como apontador */
  height: 3em;
  /* Define a altura */
  border-radius: 4%;
  /* Adiciona bordas arredondadas */
  width: 27%;
  /* Define a largura como 27% */
  margin: 15px;
  /* Adiciona margem */
  transition: transform 0.2s;
  /* Adiciona uma transição suave */
  text-align: -webkit-center;
  color: #ffffff;
}

/* Estilos para os campos de texto e senha */
.login-box input[type="text"],
.login-box input[type="password"] {
  width: 90%;
  /* Define a largura como 90% */
  padding: 10px;
  /* Adiciona preenchimento interno */
  margin-bottom: 10px;
  /* Adiciona margem inferior */
  border-radius: 3px;
  /* Adiciona bordas arredondadas */
  border-bottom: 1px solid #0d3672;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

/* Estilos para os botões de envio quando passa o mouse por cima */
.login-box button:hover {
  transform: scale(1.3);
  /* Aumenta ligeiramente o tamanho quando passa o mouse por cima */
}

/* Estilos para o contêiner do campo de senha */
.password-container {
  position: relative;
  /* Define a posição como relativa */
}

/* Estilos para os campos de texto e senha dentro do contêiner */
.password-container input[type="text"],
.password-container input[type="password"] {
  width: calc(100% - 13%);
  /* Ajusta a largura para acomodar o ícone */
  padding-right: 20px;
  /* Adiciona espaço para o ícone */
  padding-left: 10px;
}

/* Estilos para o ícone do olho */
.password-container .bi {
  position: absolute;
  /* Define a posição como absoluta */
  top: 40%;
  /* Alinha verticalmente ao centro */
  right: 15px;
  /* Define a posição à direita */
  transform: translateY(-50%);
  /* Ajusta a posição verticalmente */
  cursor: pointer;
  /* Define o cursor como apontador */
}

.link-text {
 display: flex;
 /* Usa um layout flexível */
 justify-content: center;
 /* Centraliza horizontalmente */
 margin: 20px;
 /* Adiciona margem em torno do link */
 color: #2caadb;
 text-decoration: underline;
 cursor: pointer;
   
}

/* Estilos para os links quando passa o mouse por cima */
.link-text:hover {
  color: #3465a5;
  /* Altera a cor do texto quando o mouse passa por cima */
}

/* Media query para ajustar o layout em telas menores */
@media screen and (max-width: 768px) {
  header {
    padding-right: 5.8em;
    /* Aumenta o espaço à direita para telas menores */
    text-align: -webkit-center;
  }

  h2 {
    text-align: -webkit-center;
  }

}
