html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("../images/Image_Server_Racks.jpg");
  border-image: fill 0 linear-gradient(#0003, #000); /*com ou sem ver com outras pessoas*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

  /*background: linear-gradient(45deg, #1c4d6b, #4169E1, #27c9e6);*/
}

header {
  display: flex;
  align-items: center;
}

/* Estilos para os títulos de primeiro nível */
h1 {
  display: flex;
  justify-content: center;
  font-size: 1.875em;
  margin-left: auto;
  /* Move o h1 para a esquerda */
  margin-right: auto;
  /* Move o h1 para a direita */
  color: #ffffff;
}

/* Estilos para os títulos de primeiro nível */
h2 {
  /* Define a cor do texto como verde */
  display: flex;
  /* Usa um layout flexível */
  justify-content: center;
  /* Centraliza horizontalmente */
  color: #ffffff;
}

/* Estilos para os links */
a {
  /* Define a cor do texto como verde */
  display: flex;
  /* Usa um layout flexível */
  justify-content: center;
  /* Centraliza horizontalmente */
  margin: 20px;
  /* Adiciona margem em torno do link */
}

/* Estilos para os links quando passa o mouse por cima */
a:hover {
  color: #3465a5;
  /* Altera a cor do texto quando o mouse passa por cima */
}

form label[for="name-complete"],
form label[for="login"],
form label[for="telephone"],
form label[for="cpf"],
form label[for="password-register"],
form label[for="email"],
form label[for="birthday"],
form label[for="file"],
form label[for="option"] {
  display: inline-block;
  width: 29%;
  /* width a ajustar */
  text-align: center;
  margin-bottom: 6%;
  padding-right: 10%;
  color: #ffffff;
}

p{
  color: #ffffff;
}

textarea {
  width: 99%;
  border-radius: 6px;
}

/* Estilos para o contêiner do formulário de login */
.register-box {
  /*background-color: #000000;*/
  /* Define o fundo como preto */
  width: 72%;
  /* Define a largura como 70% da largura da janela */
  max-width: 500px;
  /* Define a largura máxima */
  padding: 20px;
  /* Adiciona preenchimento interno */
  border: 1px solid #3b3e41;
  /* Adiciona uma borda */
  border-radius: 5px;
  margin: 0 auto;
  backdrop-filter: blur(4px);
}

/* Estilos para os botões de envio */
.register-box button {
  background-color: #14448d;
  border: 1px solid transparent;
  /* Adiciona uma borda */
  cursor: pointer;
  /* Define o cursor como apontador */
  height: 3em;
  /* Define a altura */
  border-radius: 4%;
  /* Adiciona bordas arredondadas */
  width: 27%;
  /* Define a largura como 20% */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  transition: transform 0.2s;
  /* Adiciona uma transição suave */
  margin-top: 10%;
  color: #ffffff;
}

/* Estilos para os campos de texto e senha */
.register-box input[type="text"],
.register-box input[type="password"],
.register-box input[type="number"],
.register-box input[type="tel"],
.register-box input[type="email"] {
  width: 40%;
  /* Define a largura como 90% */
  padding: 10px;
  /* Adiciona preenchimento interno */
  /*margin-bottom: 30px;*/
  /* Adiciona margem inferior */
  border-radius: 6px;
  /* Adiciona bordas arredondadas */
  /*background-color: #000000;*/
  margin-bottom: 5%;
  height: 1vh;
}

select {
  width: 48%;
  border-radius: 6px;
}

.register-box input[type="date"] {
  border-radius: 6px;
}

.register-box input[type="file"] {
  width: 59%;
  border-radius: 3px;
  color: #ffffff;
}

/* Estilos para os botões de envio quando passa o mouse por cima */
.register-box button:hover {
  transform: scale(1.3);
  /* Aumenta ligeiramente o tamanho quando passa o mouse por cima */
}

/* Estiliza o botão de alternância */
#dark-light {
  width: 5em;
  /* largura do botão */
  height: 2em;
  /* altura do botão */
  position: fixed;
  /* fixa o botão na tela */
  position: absolute;
  /* exibe como bloco */
  background: #ebebeb;
  /* cor de fundo do botão */
  border-radius: 2em;
  /* bordas arredondadas */
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  /* sombra interna */
  cursor: pointer;
  /* cursor de ponteiro */
  transition: 0.3s;
  /* transição suave */
  top: 2.9%;
  /* distância do topo */
  right: 0;
  /* distância da direita */
  margin-right: 0.1%;
  /* Move o botão de alternância para a direita para alinhar-se com o título */
}

/* Cria o efeito após do botão */
#dark-light:after {
  content: "";
  /* conteúdo gerado */
  width: 34%;
  /* largura do efeito */
  height: 85%;
  /* altura do efeito */
  position: absolute;
  /* posicionamento absoluto */
  top: 9%;
  /* distância do topo */
  left: 5%;
  /* distância da esquerda */
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  /* gradiente de cor */
  border-radius: 180px;
  /* bordas arredondadas */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  /* sombra */
  transition: 0.3s;
  /* transição suave */
}

/* Esconde o input */
#darkmode-toggle {
  width: 0;
  /* largura */
  height: 0;
  /* altura */
  visibility: hidden;
  /* invisível */
  display: none;
  /* não exibido */
}

/* Estiliza o botão quando está marcado */
input:checked + #dark-light {
  background: #242424;
  /* cor de fundo */
}

/* Cria o efeito após do botão quando está marcado */
input:checked + #dark-light:after {
  left: 95%;
  /* posição do efeito */
  transform: translateX(-100%);
  /* translação horizontal */
  background: linear-gradient(180deg, #777, #3a3a3a);
  /* gradiente de cor */
}

/* Cria o efeito após do botão quando está pressionado */
#dark-light:active:after {
  width: 92%;
  /* largura */
}

/* Define o estilo para os elementos <svg> dentro de <label> */
#dark-light svg {
  position: absolute;
  /* Posiciona os elementos absolutamente dentro do <label> */
  width: 33%;
  /* Define a largura dos elementos <svg> */
  top: 11%;
  /* Define a distância do topo para os elementos <svg> */
  z-index: 100;
  /* Define a ordem de empilhamento dos elementos <svg> */
}

/* Estiliza o ícone do sol */
#dark-light svg.sun {
  left: 3.3%;
  /* posição horizontal */
  fill: #fff;
  /* cor de preenchimento */
  transition: 0.3s;
  /* transição suave */
}

/* Estiliza o ícone da lua */
#dark-light svg.moon {
  left: 60%;
  /* posição horizontal */
  fill: #7e7e7e;
  /* cor de preenchimento */
  transition: 0.3s;
  /* transição suave */
}

/* Estiliza o ícone do sol quando o botão está marcado */
input:checked + #dark-light svg.sun {
  fill: #7e7e7e;
  /* cor de preenchimento */
}

/* Estiliza o ícone da lua quando o botão está marcado */
input:checked + #dark-light svg.moon {
  fill: #fff;
  /* cor de preenchimento */
}

/* Media query para ajustar o layout em telas menores */
@media screen and (max-width: 768px) {
  header {
    padding-right: 4.5em;
    /* Aumenta o espaço à direita para telas menores */
    text-align: -webkit-center;
  }

  h2 {
    text-align: -webkit-center;
  }

  .register-box input[type="file"] {
    backdrop-filter: none;
    float: inline-end;
    white-space: pre-wrap;
  }

  #dark-light {
    right: 20px;
    /* Ajusta ainda mais a posição do botão de alternância */
    text-align: -webkit-center;
  }
}

@media screen and (max-width: 500px) {
  .register-box input[type="file"] {
    padding-top: 5%;
  }
}
