html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("../images/Image_Server_Racks.jpg");
  border-image: fill 0 linear-gradient(#0003, #000); /*com ou sem ver com outras pessoas*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

  /*background: linear-gradient(45deg, #1c4d6b, #4169E1, #27c9e6);*/
}

header {
  display: flex;
  align-items: center;
}

/* Estilos para os títulos de primeiro nível */
h1 {
  display: flex;
  justify-content: center;
  font-size: 1.875em;
  margin-left: auto;
  /* Move o h1 para a esquerda */
  margin-right: auto;
  /* Move o h1 para a direita */
  color: #ffffff;
}

/* Estilos para os títulos de primeiro nível */
h2 {
  /* Define a cor do texto como verde */
  display: flex;
  /* Usa um layout flexível */
  justify-content: center;
  /* Centraliza horizontalmente */
  color: #ffffff;
}

/* Estilos para os links */
a {
  /* Define a cor do texto como verde */
  display: flex;
  /* Usa um layout flexível */
  justify-content: center;
  /* Centraliza horizontalmente */
  margin: 20px;
  /* Adiciona margem em torno do link */
}

/* Estilos para os links quando passa o mouse por cima */
a:hover {
  color: #3465a5;
  /* Altera a cor do texto quando o mouse passa por cima */
}

form label[for="name-complete"],
form label[for="login"],
form label[for="telephone"],
form label[for="cpf"],
form label[for="password-register"],
form label[for="email"],
form label[for="birthday"],
form label[for="file"],
form label[for="option"] {
  display: inline-block;
  width: 29%;
  /* width a ajustar */
  text-align: center;
  margin-bottom: 6%;
  padding-right: 10%;
  color: #ffffff;
}

p{
  color: #ffffff;
}

textarea {
  width: 99%;
  border-radius: 6px;
}

/* Estilos para o contêiner do formulário de login */
.register-box {
  /*background-color: #000000;*/
  /* Define o fundo como preto */
  width: 72%;
  /* Define a largura como 70% da largura da janela */
  max-width: 500px;
  /* Define a largura máxima */
  padding: 20px;
  /* Adiciona preenchimento interno */
  border: 1px solid #3b3e41;
  /* Adiciona uma borda */
  border-radius: 5px;
  margin: 0 auto;
  backdrop-filter: blur(4px);
}

/* Estilos para os botões de envio */
.register-box input[type="submit"] {
  background-color: #14448d;
  border: 1px solid transparent;
  /* Adiciona uma borda */
  cursor: pointer;
  /* Define o cursor como apontador */
  height: 3em;
  /* Define a altura */
  border-radius: 4%;
  /* Adiciona bordas arredondadas */
  width: 27%;
  /* Define a largura como 20% */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  transition: transform 0.2s;
  /* Adiciona uma transição suave */
  margin-top: 10%;
  color: #ffffff;
}

/* Estilos para os campos de texto e senha */
.register-box input[type="text"],
.register-box input[type="password"],
.register-box input[type="number"],
.register-box input[type="tel"],
.register-box input[type="email"] {
  width: 43.5%;
  /* Define a largura como 90% */
  padding: 10px;
  /* Adiciona preenchimento interno */
  /*margin-bottom: 30px;*/
  /* Adiciona margem inferior */
  border-radius: 6px;
  /* Adiciona bordas arredondadas */
  /*background-color: #000000;*/
  margin-bottom: 5%;
  height: 1vh;
}

/* Estilos para o contêiner do campo de senha */
.password-container {
  position: relative;
  /* Define a posição como relativa */
}



/* Estilos para o ícone do olho */
.password-container .bi {
  position: absolute;
  /* Define a posição como absoluta */
  top: 39%;
  /* Alinha verticalmente ao centro */
  left: 84%;
  /* Define a posição à direita */
  transform: translateY(-80%);
  /* Ajusta a posição verticalmente */
  cursor: pointer;
  /* Define o cursor como apontador */
}

select {
  width: 48%;
  border-radius: 6px;
}

.register-box input[type="date"] {
  border-radius: 6px;
}

.register-box input[type="file"] {
  width: 59%;
  border-radius: 3px;
  color: #ffffff;
}

/* Estilos para os botões de envio quando passa o mouse por cima */
.register-box #register:hover {
  transform: scale(1.3);
  /* Aumenta ligeiramente o tamanho quando passa o mouse por cima */
}

/* Media query para ajustar o layout em telas menores */
@media screen and (max-width: 768px) {
  header {
    padding-right: 4.5em;
    /* Aumenta o espaço à direita para telas menores */
    text-align: -webkit-center;
  }

  h2 {
    text-align: -webkit-center;
  }

  .register-box input[type="file"] {
    backdrop-filter: none;
    float: inline-end;
    white-space: pre-wrap;
  }

}

@media screen and (max-width: 500px) {
  .register-box input[type="file"] {
    padding-top: 5%;
  }
}
